@{
    ViewData["Title"] = "Persona";
}
<h1>@ViewData["Title"]</h1>

<p>Página com visualização as informações para os Especialistas</p>

<p class="fw-bold">Essa situação vai explicar exatamente o que queremos e porque desejamos criar esssa solução</p>

<h4>Persona</h4>

<p>Claudio Delfos Idade: 30 anos Profissão: Desenvolvedor de software e estudante Localização: São Paulo, SP Perfil: Ativo, trabalha em período integral e estuda à noite, além de participar de projetos extracurriculares em tecnologia Tempo de Convênio: 10 meses</p>

<h4>Sobre Claudio</h4>

<p>Claudio tem uma vida corrida, dividindo seu tempo entre o trabalho, os estudos e projetos pessoais. Ele valoriza muito a conveniência e eficiência em qualquer serviço que utilize, pois seu tempo livre é bastante limitado. Embora ele tenha um plano de saúde, não costuma usá-lo para consultas preventivas. Nos últimos dois meses, começou a sentir dores ao mastigar, mas nada que pareça sério o suficiente para levá-lo a marcar uma consulta por conta própria.</p>

<h3>Desafios e Frustrações</h3>

<span class="fw-bold">Falta de tempo para marcar consultas</span>
<p>Claudio tem uma rotina apertada e acha difícil encontrar tempo para agendar e ir a consultas médicas, principalmente porque considera incômoda a necessidade de organizar essas visitas em meio a sua agenda já cheia.</p>

<span class="fw-bold">Problemas ignorados por falta de urgência</span>
<p>Mesmo com um plano de saúde, Claudio evita ir ao médico até que o problema se torne mais sério, pois não quer perder tempo com consultas que julga desnecessárias no momento.</p>

<span class="fw-bold">Preocupação com a qualidade do atendimento</span>
<p>Quando Claudio finalmente decide ir a uma consulta, ele se preocupa em encontrar um bom especialista, já que não quer perder tempo e dinheiro com atendimentos de baixa qualidade.</p>

<h3>Objetivos para o cliente</h3>

<span class="fw-bold">Resolver o problema de saúde sem interrupções em sua rotina</span>
<p>Claudio gostaria de tratar sua dor ao mastigar antes que se torne algo mais grave, mas sem ter que reorganizar toda sua agenda.</p>

<span class="fw-bold">Ter acesso a um atendimento de qualidade e conveniente</span>
<p>Ele quer um especialista confiável, que possa resolver o problema, sem precisar passar por vários profissionais diferentes ou arriscar receber um atendimento ruim.</p>

<span class="fw-bold">Como a solução atende às necessidades de Claudio</span>
<p>"Prevenir é Cuidar: Cliente Seguro, Parceiro Rentável" oferece uma solução perfeita para Claudio, pois:</p>

<span class="fw-bold">Sugere consultas preventivas no melhor horário e local</span>
<p>Claudio não precisa se preocupar em procurar e agendar consultas. A solução sugere automaticamente um especialista qualificado, em horários que se ajustam perfeitamente à sua agenda, tornando o processo muito mais conveniente. Hoje as empresas que foram pesquisadas, possuem ótimos aplicativos, mas todos os cliente precisa procurar e agendar.</p>

<span class="fw-bold">Previne o agravamento de problemas</span>
<p>Mesmo com sua dor ainda moderada, a solução ajuda Claudio a agir antes que o problema se torne algo mais sério, evitando procedimentos mais caros e invasivos no futuro. Se ele for a consulta, o custo hoje pode ser em torno de 120,00 (pesquisa de mercado para os valores bases de uma simples consulta). O Especilista analisa seu caso, faz uma limpeza, e percebe que é só uma inflamação que pode ser tratado com antibiótico. Se o problema continuasse e o Claudio não tivesse tomado o remédio, ele teria que retirar um dente, o que custaria para a empresa uma valor base de 2200,00.  O que é Rentável nesta situação?</p>

<span class="fw-bold">Foca em qualidade de atendimento</span>
<p>Claudio pode confiar nos especialistas sugeridos pela plataforma, sabendo que todos têm notas altas, o que reduz o risco de uma má experiência e aumenta sua confiança no tratamento. Além dos Especilistas que vão ficar satisfeito com a Delfos Machine, por propor um novo cliente recorrente a sua carteira de clientes. Trazendo grana e cuidado da empresa com sua clinica parceira.</p>

<p>Sem mencionar que ambos vão ganhar no programa de benefício, que pode gerar produtos, descontos e fidelidade com a OdontoPrev.</p>