@{
    ViewBag.Title = "Login sem exito";
}

<h2>Dados inválidos!</h2>
<p>Realize seu cadastro ou insira os dados corretamente.</p>

<a asp-action="Criar" asp-controller="Cliente" class="btn btn-primary">Realize seu cadastro</a>
<a asp-action="Logar" asp-controller="Login" class="btn btn-secondary">Login</a>
