@{
    ViewBag.Title = "Cadastro de Cliente - Sucesso";
}

<h2>Cadastro realizado com sucesso!</h2>
<p>O cliente foi cadastrado com sucesso. Você pode voltar à lista de clientes ou cadastrar outro cliente.</p>

<a asp-action="Consultar" asp-controller="Cliente" class="btn btn-primary">Verificar lista de clientes</a>
<a asp-action="Criar" asp-controller="Cliente" class="btn btn-secondary">Cadastrar novo cliente</a>
