@{
    ViewData["Title"] = "Nossa Solução";
}
<h1>@ViewData["Title"]</h1>

<h2>Prevenir é <span>CUIDAR</span>: Cliente <span>SEGURO</span>, Parceiro <span>RENTÁVEL</span>.</h2>

<p>Essa frase reflete o foco na prevenção para garantir a saúde do cliente, ao mesmo tempo em que destaca o impacto positivo nos parceiros (clínicas), trazendo mais eficiência e redução de custos. cliente na rua, é um cliente seguro e com saúde. Falamos na rua, pois queremos atender 100% da carteira de cliente, para que todos façam consultas preventivas, evitando e previnindo consultas emegências, que podem acarretar altos custos.</p>