@{
    ViewBag.Title = "Cadastro de Cliente - Sucesso";
}

<h2>Cadastro realizado com sucesso!</h2>
<p>Você foi cadastrado com sucesso. Agora você pode voltar à lista de novidades que temos para você.</p>

<a asp-action="Consultar" asp-controller="Especialista" class="btn btn-primary">Dados cadastrais</a>
<a asp-action="Atualizar" asp-controller="Especialista" class="btn btn-secondary">Atualizar dados</a>
