@{
    ViewData["Title"] = "Página de gestão dos clientes";
}

<div class="text-center min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="display-4">Gestão de clientes</h5>
                
                <div class="d-flex justify-content-center gap-3">

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 18rem;">
                                <img
                                    alt="Card"
                                    src="/assets/PaginaLogadaCliente/cadastro.png"
                                    class="img-fluid"
                                />
                                <div class="card-body">
                                    <h3 class="card-title w-100">Cadastro</h3>
                                    <p class="">
                                        Formulário de cadastro
                                    </p>
                                    <a href="@Url.Action("Criar", "Especialista")" class="btn btn-primary w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 18rem;">
                                <img
                                    alt="Card"
                                    src="/assets/PaginaLogadaCliente/dados-cadastrais.png"
                                    class="img-fluid"
                                />
                                <div class="card-body">
                                    <h3 class="card-title">Dados cadastrais</h3>
                                    <p class="">
                                        Alterar dados cadastrais
                                    </p>
                                    <a href="@Url.Action("Consultar", "DadosCadastraisMedicos")" class="btn btn-primary w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 18rem;">
                            <img
                                alt="Card"
                                src="/assets/PaginaLogadaCliente/beneficios.png"
                                class="img-fluid"
                            />
                            <div class="card-body">
                                <h3 class="card-title">Incentivo</h3>
                                <p class="">
                                    Programa de beneficios
                                </p>
                                <a href="@Url.Action("Index", "ProgramaIncentivoMedicos")" class="btn btn-primary w-100">
                                    clique aqui <i class="pi pi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group pt-3 mb-5">
                <a asp-controller="Home" asp-action="Hero" class="btn btn-secondary">Home</a>
                <a asp-controller="Home" asp-action="Hero" class="btn btn-primary">Voltar</a>
            </div>  
        </div>
    </div>
</div>
