@{
    ViewBag.Title = "Feedback - Sucesso";
}

<h2>Seu feedback foi enviado com sucesso!</h2>
<p>Obrigado pela sua opinião e esperamos te ver em breve!</p>

<a asp-action="Index" asp-controller="Feedback" class="btn btn-primary">Cadastrar feedback</a>
<a asp-action="Hero" asp-controller="Home" class="btn btn-secondary">Home</a>
