@{
    ViewBag.Title = "Preferência do Cliente - Sucesso";
}

<h2>Preferência cadastrada com sucesso!</h2>
<p>As preferências foram cadastradas com sucesso. Você pode voltar à lista ou atualizar as preferências.</p>

<a asp-action="Consultar" asp-controller="PreferenciaCliente" class="btn btn-primary">Verificar lista</a>
<a asp-action="Atualizar" asp-controller="DadosCadastrais" class="btn btn-secondary">Atualizar preferência</a>
