@{
    ViewBag.Title = "Rotinas do Cliente - Sucesso";
}

<h2>Rotina cadastrada com sucesso!</h2>
<p>As informações da rotina foram cadastradas com sucesso. Você pode voltar à lista ou atualizar as informações.</p>

<a asp-action="Consultar" asp-controller="RotinaCuidadoCliente" class="btn btn-primary">Verificar lista</a>
<a asp-action="Atualizar" asp-controller="DadosCadastrais" class="btn btn-secondary">Atualizar dados</a>
